.wrapper
  display: flex
  height: 100vh
  width: 100vw
  flex-direction: column
  justify-content: flex-end
  align-items: center
  gap: 15vh
  padding: 4vh 4vw

.input-wrapper,
.radio-wrapper
  color: var(--accent-primary)

.radio-wrapper
  width: 50vw
  display: flex
  flex-direction: column
  gap: 3vh
  margin-top: 5vh

.input
  color: white
  background: none
  border-bottom: 0.5vh solid white
  width: 100%
  caret-color: transparent

.logo
  height: 4vh
  align-self: flex-start
  left: 2vw
  bottom: 6vh
  position: absolute

.back
  position: absolute
  border: none
  background: none
  color: var(--accent-primary)
  justify-self: flex-end
  bottom: 4vh
  right: 6vw