.logo
  height: 5vh

.icon
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-left: 2vh
  margin-right: 2vh

.name
  font-weight: bold
  color: white
  text-transform: uppercase
